<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project-1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.revature.web.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.web.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.revature.web.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSONServlet</display-name>
    <servlet-name>JSONServlet</servlet-name>
    <servlet-class>com.revature.web.JSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONServlet</servlet-name>
    <url-pattern>/JSONServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUser</display-name>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>com.revature.web.NewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/newuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReimbursementServlet</display-name>
    <servlet-name>NewReimbursementServlet</servlet-name>
    <servlet-class>com.revature.web.NewReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbursementServlet</servlet-name>
    <url-pattern>/newreimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyReimbursmentsServlet</display-name>
    <servlet-name>ViewMyReimbursmentsServlet</servlet-name>
    <servlet-class>com.revature.web.ViewMyReimbursmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyReimbursmentsServlet</servlet-name>
    <url-pattern>/myreimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyPendingReimbursements</display-name>
    <servlet-name>ViewMyPendingReimbursements</servlet-name>
    <servlet-class>com.revature.web.ViewMyPendingReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyPendingReimbursements</servlet-name>
    <url-pattern>/mypending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyResolvedReimbursementsServlet</display-name>
    <servlet-name>ViewMyResolvedReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.web.ViewMyResolvedReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyResolvedReimbursementsServlet</servlet-name>
    <url-pattern>/myresolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.revature.web.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllPendingServlet</display-name>
    <servlet-name>ViewAllPendingServlet</servlet-name>
    <servlet-class>com.revature.web.ViewAllPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPendingServlet</servlet-name>
    <url-pattern>/allpending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrEmployeeServlet</display-name>
    <servlet-name>AdminOrEmployeeServlet</servlet-name>
    <servlet-class>com.revature.web.AdminOrEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrEmployeeServlet</servlet-name>
    <url-pattern>/emporad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveReimbursement</display-name>
    <servlet-name>ApproveReimbursement</servlet-name>
    <servlet-class>com.revature.web.ApproveReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveReimbursement</servlet-name>
    <url-pattern>/approvereimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyReimbursement</display-name>
    <servlet-name>DenyReimbursement</servlet-name>
    <servlet-class>com.revature.web.DenyReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyReimbursement</servlet-name>
    <url-pattern>/denyreimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllResolvedreimbursements</display-name>
    <servlet-name>ViewAllResolvedreimbursements</servlet-name>
    <servlet-class>com.revature.web.ViewAllResolvedreimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllResolvedreimbursements</servlet-name>
    <url-pattern>/allresolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmployeesServlet</display-name>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <servlet-class>com.revature.web.ViewAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <url-pattern>/allemployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReimbursementSearchServlet</display-name>
    <servlet-name>EmployeeReimbursementSearchServlet</servlet-name>
    <servlet-class>com.revature.web.EmployeeReimbursementSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimbursementSearchServlet</servlet-name>
    <url-pattern>/searchemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileInfoServlet</display-name>
    <servlet-name>ProfileInfoServlet</servlet-name>
    <servlet-class>com.revature.web.ProfileInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileInfoServlet</servlet-name>
    <url-pattern>/profileinfo</url-pattern>
  </servlet-mapping>
</web-app>